.reviewCard {
  width: 300px;
  background-color: rgba(110, 110, 110, .5);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;

}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fcd259;
  margin: 0 10px 0 0;
  box-shadow: 3px 3px black;
}

.infoAndButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.authorDiv {
  display: flex;
}

.authorName {
  margin: 0 0;
  cursor: pointer;
}

.reviewCreatedAt {
  font-size: 12px;
}

.reviewText {
  margin: 10px 0 10px 46px;
  font-size: 18px;
}

.deleteButton {
  width: 55px;
  height: 22px;
  border-radius: 20px;
  margin-top: 5px;
  border: 2px solid #fcd259;
  background: rgb(221,210,1);
  background: linear-gradient(180deg, rgba(221,210,1,1) 0%, rgba(236,217,1,1) 50%, rgba(148,148,1,1) 100%);
  font-weight: 500;
  font-size: 12px;
}

.nameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.editButton {
  width: 51px;
  height: 18px;
  border-radius: 20px;
  border: 2px solid rgb(131, 131, 131);
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  color: black;
  margin: 0;
}

.ratingContainer {
  display: flex;
  gap: 10px;
}

.ratingContainer h1 {
  margin: 0;
  font-size: 19px;
}
