.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.listingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 10px solid #fcd259;
  border-radius: 15px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/176622e8-bf4c-4d60-9a64-b75cff245c16/d6ada67-356f47fc-c8fe-49b7-b59a-313219d7022c.png);
  margin: 20px 50px 20px 50px;
  width: 400px;
  height: 600px;
  color: black;
}

.titleAndCategory {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 400px;
}

.listingCategory {
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  color: black;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  border-radius: 30px;
  border: 3px solid rgb(131, 131, 131);
  font-size: 18px;
  white-space: nowrap;
}

.listingTitle {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.listingImage {
  width: 355px;
  height: 255px;
  border: 3px solid rgb(131, 131, 131);
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  margin: 0px 20px 0px 20px;
  
}

.listingCreatedAt {
  margin: 0px 0px 20px 0px;
  border-left: 3px solid rgb(131, 131, 131);
  border-right: 3px solid rgb(131, 131, 131);
  border-bottom: 3px solid rgb(131, 131, 131);
  border-radius: 0px 0px 15px 15px;
  width: 355px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  font-weight: 500;
  font-size: 15px;
}

.description {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: hidden;
  height: 110px;
}

.priceAndViewListingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.priceTitle {
  margin: 20px 0px 20px 0px;
}

.viewListing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  color: black;
  font-size: 20px;
  height: 45px;
  width: 175px;
  border: 3px solid rgb(131, 131, 131);
  border-radius: 30px;
  cursor: pointer;
  margin: 30px 0px 0px 0px;
}

.bottomContainer {
  background-color: rgba(225, 225, 225, .4);
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  border-left: 3px solid rgb(131, 131, 131);
  border-bottom: 3px solid rgb(131, 131, 131);
}


