.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favoriteSelect {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileName {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 75px;
  color: #fcd259;
  cursor:default;
}

.avatar {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.titlesAndForm {
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.reviewsListingsAndFavorites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reviewForm {
  display: flex;
  gap: 10px;
}

.reviewButton {
  width: 75px;
  height: 30px;
  border-radius: 20px;
  margin-top: 5px;
  /* background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  border: 3px solid rgb(131, 131, 131); */
  border: 2px solid #fcd259;
  background: rgb(221,210,1);
  background: linear-gradient(180deg, rgba(221,210,1,1) 0%, rgba(236,217,1,1) 50%, rgba(148,148,1,1) 100%);
  font-weight: 600;
}

.listing {
  width: 300px;
  background-color: rgba(110, 110, 110, .5);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
}

.listingsTitle, .favoritesTitle {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  width: 200px;
  text-align: center;
}

/* .reviews {
  width: 350px;
} */

.reviewsTitle {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  width: 350px;
  text-align: center;
}

.listings, .favorites {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  width: 350px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 0;
}

.listing a {
  text-shadow: 1px 2px 2px black;
  text-align: center;
  margin: 0;
}

.favoriteListing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favoriteImage {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin: 5px 0;
}

.stars {
  margin-top: 0;
  margin-bottom: 35px;
}

#star {
  padding: 17px 10px 10px;
  border: 2px solid #fcd259;
  border-radius: 50%;
  text-align: center;
  height: 42px;
  width: 49px;
}

