.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileName {
  font-size: 50px;
  color: #fcd259;
}

.avatar {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewForm {
  display: flex;
  gap: 10px;
}

.reviewButton {
  width: 75px;
  height: 30px;
  border-radius: 20px;
  margin-top: 5px;
  /* background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(225,225,225,1) 50%, rgba(148,148,148,1) 100%);
  border: 3px solid rgb(131, 131, 131); */
  border: 2px solid #fcd259;
  background: rgb(221,210,1);
  background: linear-gradient(180deg, rgba(221,210,1,1) 0%, rgba(236,217,1,1) 50%, rgba(148,148,1,1) 100%);
  font-weight: 600;
}