.navContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 10px 17px 10px 17px;
  background-color: rgba(102, 77, 181, .8);
  border-bottom: 5px solid #fcd259;
}

.logoAndAppNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 300px;
}

.appNameDitto {
  margin: 0px 0px 0px 20px;
  text-shadow: 3px 3px black;
  font-family: "Jersey 10", sans-serif;
  font-size: 50px;
}

.appNameDeal {
  margin: 0px;
  color: #fcd259;
  text-shadow: 3px 3px black;
  font-family: "Jersey 10", sans-serif;
  font-size: 50px;
}

.avatarAndUserNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 85px;
  margin: 0px 20px 0px 0px;
}

#logout {
  color: #fcd259;
  font-size: 35px;
  text-shadow: 3px 3px black;
  cursor: pointer;
}

.userName {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

.logIn {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  cursor: pointer;
}

.signUp {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.createListing {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.otherLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  margin-left: auto;
  margin-right: 0;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #fcd259;
  margin: 0px 20px 0px 0px;
  box-shadow: 3px 3px black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-shadow: 3px 3px black;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  cursor: pointer;
  margin: 0px 30px 0px 0px;
  color: white;
  text-decoration: none;
}