.input {
  border: 5px solid #fcd259;
  border-radius: 15px;
  background-color: #333341;
  color: white;
}

p {
  margin: 0px;
}

.input[type="file"] {
  padding: 4px 8px 4px 8px;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signUpContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid #fcd259;
  border-radius: 15px;
  margin: 20px 0px 0px 0px;
  padding: 20px;
  background-color: #333341;
  font-family: "Quicksand";
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUp {
  font-family: "Quicksand";
  background-color: #333341;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.signUp:hover {
  text-decoration: underline #fcd259;
}

.cancel {
  font-family: "Quicksand";
  border: none;
  font-size: 20px;
  color: white;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

.cancel:hover {
  text-decoration: underline #fcd259;
}
