*,
*::before,
*::after {
}

body {
  
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #222230;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a,
a:visited {
  color: black
} */

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

html::-webkit-scrollbar {
  width: 15px; 
}

html::-webkit-scrollbar-track {
background-color: #333341;
}

html::-webkit-scrollbar-thumb {
background: #fcd259;
}
